<!DOCTYPE html>

html
	head
		title Greyvar WebClient
		link(rel = "stylesheet" type = "text/css" href = "css/main.css")
		link(rel = "shortcut icon" type = "image/png" href = "../res/img/logo.png")
	body
		script(src="js/index.js",type="module")


